interface tunnel %tunnelinterface%
 ip address %tunnelnetwork%.%tunneladdr% %tunnelmask%
 tunnel source %tunnelsource%
 tunnel mode gre %tunnelmode%
 tunnel key %tunnelkey%
 ip nhrp network-id %nhrpnetworkid%
 ip nhrp authentication %nhrpauthentication%
 ip nhrp map %nhrpprivateaddr% %nhrpnbmaaddr%
 ip nhrp map multicast %nhrpnbmaaddr%
 ip nhrp nhs %nhrpprivateaddr%
